body{
 background-color:rgb(255, 255, 255); 
}


.row1{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:100%;
}

.container h3{
    color:rgb(0, 0, 0);
    font-size: 24px;
    margin-bottom: -10px;
}

.container h5{
    color:rgb(0, 0, 0);
    font-size: 20px;
}

.button-primary{
    background-color:cadetblue;
    color:white;
    width:200px;
    height:40px;
    border-radius:20px;
}

.meal{
    margin-top:50px;
}