.container{
    font-family: sans-serif;
    border-radius: 5px;
    width:30%;
    background-color: #f2f2f2;
    padding:20px;
}

.container input,textarea{
    width:100%;
}

.container input[type="submit"]{
    background-color: green;
    color:white;
}

.card p{
    background-color: red;
    color:white;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align: center;
}

.card #textfields input{
    border:none;
    border-top:1px solid #000000;
    display: inline-block;
    position: relative;
}

.card fieldset{
    display: inline;
}

.card #textfields label{
    display: inline-block;
    padding-top:1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

table,tr,td{
    border: 1px solid black;border-collapse: collapse;padding: 10px;
}
h4{
    margin-bottom:-5px;
}
td{
    text-align: center;
}